*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container {
    max-width: 550px;
}

.head {
    background-color: #6943ff;
    padding: 33px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
}

.input {
    border: 2px solid #b295ff;
    border-radius: 5px;
    font-weight: 800;
    font-size: 58px;
    color: #fff;
    background: transparent;
    text-align: center;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 26px;
    width: 117px;
}

.input::placeholder {
    color: #fff;
}

.btn {
    background: #fff;
    color: #000;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

.btn:hover {
    background: #b295ff;
    color: #fff;
}

.body {
    background: #f4f4f4;
    padding: 36px 25px;
}

.box {
    text-align: center;
    width: 100%;
    padding: 15px;
    background: #fff;
}

.box:not(:last-child) {
    margin-bottom: 20px;
}

.box__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #5A537B;
    margin-bottom: 9px;
}

.box__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #353535;
}